.chart-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'charts nav';
}

.dropdown-text {
  display: none;
}

@media screen and (max-width: 1240px) {
  .chart-main {
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-template-areas:
      'nav'
      'charts';
  }

  .chart-nav,
  .content {
    position: absolute !important;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 200px;
  }

  .content {
    width: 100%;
  }

  .dropdown-ul {
    position: relative;
  }

  .content.hidden {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .content.showing {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 2s ease;
  }

  .content-li {
    width: 100%;
  }

  .content-li.selected {
    display: none;
  }

  .dropdown-text {
    display: block;
  }

  .screenshot {
    display: none;
  }
}

.content-li.selected {
  background: rgba(0, 0, 0, 0.5);
}

.charts {
  display: flex;
  flex-direction: column;
  grid-area: charts;
}

.chart-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
  top: 100px;
  position: sticky;
  top: 0;
  grid-area: nav;
  width: 100%;
}

.dropdown-ul {
  width: 100%;
}

.chart-nav li {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  margin: 1px;
}

.chart-nav li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.screenshot img {
  max-width: 200px;
  opacity: 0.8;
  margin: 30px;
}

.back-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid white;
  outline: 0;
  transform: scale(1);
  transition: 0.2s ease;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  align-self: flex-start;
  z-index: 5;
  top: 20px;
  left: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.back-button:active {
  transform: scale(1.03);
  transition: 0.05s ease;
  opacity: 0.8;
}

.back-button img {
  width: 20px;
  height: auto;
  margin-left: -5px;
}
