.chart-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.charts {
  display: flex;
  flex-direction: column;
}

.chart-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
  top: 100px;
  position: sticky;
  top: 0;
}

.chart-nav li {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  margin: 1px;
}

.chart-nav li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.back-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: 1px solid white;
  outline: 0;
  transform: scale(1);
  font-size: 20px;
  font-family: 'HelveticaNeue-Light';
  transition: 0.2s ease;
  opacity: 0.7;
}

.back-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.back-button:active {
  transform: scale(1.03);
  transition: 0.05s ease;
  opacity: 0.8;
}
