.test-case {
  padding: 10px;
  width: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'info images';
  opacity: 0.6;
  transform: scale(1);
  transition: 0.5s ease;
}

.test-case:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

.test-case.active {
  opacity: 0.6;
  transform: scale(1.04);
  transition: 0.1s ease;
}

@media screen and (max-width: 1096px) {
  .test-case {
    grid-template-areas:
      'info'
      'images';
    grid-template-columns: none;
    width: 100%;
    max-width: 500px;
  }
  images * {
    max-width: 1000px;
  }
  .test-case section {
    margin: 30px;
  }
}

.images * {
  max-width: 250px;
}

.info {
  grid-area: info;
  display: flex column;
  justify-content: center;
  align-items: center;
}

.test-case h1 {
  font-size: 40px;
}

.test-case h2 {
  font-size: 20px;
  font-weight: normal;
}

.images {
  grid-area: images;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container {
  height: 200px;
  position: relative;
}

div[class*='slider-control-center'] {
  display: none;
}

.test-case-img {
  height: 95%;
  opacity: 0;
  animation: fadein 5s ease forwards;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
