body {
  background: linear-gradient(45deg, #7a26b6, #1059c6, #23a6d5, #23d564);
  background-size: 400% 400%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: gradient-background 20s ease infinite;
  -moz-animation: gradient-background 20s ease infinite;
  animation: gradient-background 20s ease infinite;
  font-family: 'HelveticaNeue-Light';
  min-height: 100vh;
  user-select: none;
  color: white;
}

@-webkit-keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  width: 100%;
}

.app {
  display: flex column;
  width: calc(100% - 200px);
  margin: 100px;
}

.app.fade-out {
  animation: fade-out-page 3s ease forwards;
}

@keyframes fade-out-page {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0px);
  }
  30% {
    opacity: 0.8;
    transform: scale(0.8) translateX(0px);
  }
  100% {
    opacity: 0;
    transform: scale(0.7) translateX(500px);
  }
}

.app.fade-in {
  animation: fade-in-page 3s ease forwards;
}

@keyframes fade-in-page {
  0% {
    opacity: 0;
    transform: scale(0.7) translateX(-500px);
  }
  70% {
    opacity: 0.8;
    transform: scale(0.8) translateX(0px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0px);
  }
}

h1 {
  font-size: 50px;
  font-family: 'HelveticaNeue-UltraLight';
  font-weight: normal;
  padding: 20px;
  letter-spacing: 0.5px;
}

header {
  text-align: center;
}

main {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(auto-fill);
  grid-gap: 50px;
  padding: 50px;
}

footer {
  text-align: center;
  padding: 30px;
}
